<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<form action="insert" method="post">
		<div>
			<label>id : </label>
			<input type="text" name="departmentId">
		</div>
		
		<div>
			<label>name : </label>
			<input type="text" name="departmentName">
		</div>
		
		<div>
			<label>manage : </label>
			<input type="text" name="managerId">
		</div>
		
		<div>
			<label>location : </label>
			<input type="text" name="locationId">
		</div>
		<button type="submit">저장</button>
	</form>
	
</body>
</html>